.header__logo{
    width: 142px;
    height: 33px;
    background-repeat: no-repeat;
    margin-top: 45px;
    margin-bottom: 41px;
}

@media screen and (max-width: 879px) {
    .header__logo{
        margin-top: 28px;
        margin-bottom: 31px;
    }
}

@media screen and (max-width: 639px) {
    .header__logo{
        width: 104px;
        height: 24px;
        background-size: contain;
        margin: 28px 0 32px 30px;
    }
}