.profile__info-subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 879px) {
    .profile__info-subtitle{
        font-size: 14px;
        line-height: 1.21;
        text-align: center;   
    }
}
