.profile__add-button{
    margin-left: auto;
    border: 2px solid #FFFFFF;
    font-size: 48px;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    background: none;
    background-image: url(../../../images/profile__add-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
}

.profile__add-button:hover{
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 879px) {
    .profile__add-button{
        margin-left: 0;
    }
}

@media screen and (max-width: 639px) {
    .profile__add-button{
        width: 100%;
    }
}